/* ---- colors ----*/
$color-bg: #C5E4E7;
$color-dark: #00474B;
$color-white: #FFFFFF;
$color-label: #5E7A7D;
$color-icon: #9EBBBD;
$color-input: #F3F9FA;
$color-focus: #26C2AE;
$color-person: #7F9D9F;
$color-logo: #3D6666;
$color-custom: #547878;




/* #C5E4E7
#0D686D */