.calculator__label {
    margin-bottom: 6px;
    color: #5E7A7D;
    @include letter(16px, 700, normal, normal);
}

.calculator__container {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: $color-input;
    @include flex-group(flex, center, space-between);
    border: 2px solid transparent;
}

.calculator__icon{
    width: 9.84px;
    height: auto;
    margin-left: 19px;
    display: flex;
}

.calculator__input {
    width: 100%;
    margin: 6px 17px 6px 0;
    color: $color-dark;
    background-color: $color-input;
    text-align: right;
    border: none;
    outline: none;
    border-radius: 5px;
    @include letter(24px, 700, normal, normal);

    &::placeholder{
        color: #9EBCBD
    }
}
