.label__content {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    &.label__content--margin{
        margin-bottom: 16px;
    }
        .label {
            color: #5E7A7D;
            @include letter(16px, 700, normal, normal);
        }
}