@mixin flex-group($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin letter($size, $weight, $style, $height) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $height;
}